<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/detail.css">
    <link rel="stylesheet" href="/pagenation.css">
    <link rel="stylesheet" href="/nav.css">

</head>

<body>
<div th:replace="~{ nav.html::navbar }"></div>

<div class="detail">
    <h4>상세페이지</h4>
    <img th:src="${item.url}" width="300px">
    <h4 th:text="${item.title}">금도금 바지</h4>
    <p th:text="${item.price + '원'}">7억</p>
</div>

<div>
    <ul class="comment">
        <li class="comment-form">
            <form id="commentFrm" action="/comment" method="POST" onsubmit="return handleSubmit(event);">
                <h4>댓글쓰기 <span></span></h4>
                <span class="ps_box">
                    <input type="text" th:value="${ item.id }" name="parentId" style="display: none;">
                    <input type="text" name="username" th:value="${#authentication.principal.username}" sec:authorize="isAuthenticated()"  style="display: none;"/>
                    <input type="text" placeholder="댓글 내용을 입력해주세요." class="int" name="content"/>
                </span>
                <input type="submit" class="btn" value="등록"/>
            </form>
        </li>
        <li id="comment-list">
            <ul class="comment-row" th:each="i : ${comments}">
                <li th:text="${i.username}" class="comment-id">이름</li>
                <li th:text="${i.content}" class="comment-content">댓글...</li>
                <li th:text="${i.dateTime}" class="comment-date">날짜</li>
            </ul>
        </li>
    </ul>
</div>

<ul class="pagenum-list">
    <li>
        <span class="total_page" th:text="${ total_page }"></span>

        <a th:href="@{  '/detail/' + ${ item.id } + '?comment=' + ${page_num - 1} }"><</a>

        <a th:each="num : ${#numbers.sequence(1, total_page)}"
           th:href="@{  '/detail/' + ${ item.id } + '?comment=' + ${num} }"
           th:text="${num}"></a>

        <a th:href="@{  '/detail/' + ${ item.id } + '?comment=' + ${page_num + 1} }">></a>
    </li>
</ul>


<script src="/detail.js"></script>
<script src="/pagenation.js"></script>
</body>
</html>