<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/detail.css">
    <link rel="stylesheet" href="/nav.css">
    <script>
        let lastSubmittedTime = 0;


        function handleSubmit(event) {

          // 현재 시간을 가져옵니다.
          const currentTime = new Date().getTime();

          // 마지막으로 제출된 시간과 현재 시간의 차이를 계산합니다.
          const elapsedTime = currentTime - lastSubmittedTime;

          // 만약 마지막으로 제출된 시간으로부터 5초 이상이 지났다면 form을 제출합니다.
          if (elapsedTime >= 5000) {
            lastSubmittedTime = currentTime;
            return true; // form 제출을 허용합니다.
          } else {
            // 5초 안에 연속으로 제출되었을 때 경고 메시지를 표시하고 form 제출을 막습니다.
            alert("한 번의 제출에 5초가 지나야 합니다.");
            event.preventDefault(); // 기본 동작인 form 제출을 막습니다.
            return false;
          }

        }
    </script>
</head>

<body>
<div th:replace="~{ nav.html::navbar }"></div>

<div class="detail">
    <h4>상세페이지</h4>
    <img th:src="${item.url}" width="300px">
    <h4 th:text="${item.title}">금도금 바지</h4>
    <p th:text="${item.price + '원'}">7억</p>
</div>

<div>
    <ul class="comment">
        <li class="comment-form">
            <form id="commentFrm" action="/comment" method="POST" onsubmit="return handleSubmit(event);">
                <h4>댓글쓰기 <span></span></h4>
                <span class="ps_box">
                    <input type="text" th:value="${ item.id }" name="parentId" style="display: none;">
                    <input type="text" name="username" th:value="${#authentication.principal.username}" sec:authorize="isAuthenticated()"  style="display: none;"/>
                    <input type="text" placeholder="댓글 내용을 입력해주세요." class="int" name="content"/>
                </span>
                <input type="submit" class="btn" value="등록"/>
            </form>
        </li>
        <li id="comment-list">
            <ul class="comment-row" th:each="i : ${comments}">
                <li th:text="${i.username}" class="comment-id">이름</li>
                <li th:text="${i.content}" class="comment-content">댓글...</li>
                <li th:text="${i.dateTime}" class="comment-date">날짜</li>
            </ul>
        </li>
    </ul>
</div>




</body>
</html>