
/* Form container style */
.card{
    width: 50%; /* 카드의 너비를 조절합니다. */
    margin: 50px auto; /* 화면 중앙에 위치하도록 설정합니다. */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    background-color: #f9f9f9;
}

input[type="text"] {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="file"] {
    width: calc(100% - 20px);
    margin-bottom: 10px;
}

button[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Image style */
img {
    margin-top: 20px;
    display: block;
    max-width: 100%;
    height: auto;
}

/* Page List style */
.pagenum-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.pagenum-list li {
  display: inline-block;
  margin: 0 5px;
}

.pagenum-list li a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagenum-list li a:hover {
  background-color: #f0f0f0;
}
